
{% extends 'start.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block body %}
   
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">{{product.title}}</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Pagina</a></li>
                <li class="breadcrumb-item text-primary" aria-current="page">Nossos Produtos</li>
                <li class="breadcrumb-item text-primary" aria-current="page">{{product.title}}</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<div class="container-xxl pt-5">
    <div class="container">
        <div class="text-center text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 500px;">
            <h1 class="display-5 mb-5">{{product.title}}</h1>

            {% set post=product %}
            {{ include('blog/_post_tags.html.twig') }}
            <p class="fs-10 fw-medium text-primary">Desde o nosso início, temos nos dedicado a oferecer soluções excepcionais no campo de fornecimento de filtros de alta qualidade para manutenção de máquinas, geradores e navios.</p>
        </div>
        <div class="row">
        <div class="col-md-6">

    <div class="jumbotron">
        <p class="mb-0">{{ product.summary }}</p>
    </div>

            <p>

                {{product.content|markdown_to_html|sanitize_html}}
               </p>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                {% if product.imageFilename is not null %}
                    <img src="{{ asset('uploads/images/' ~ product.imageFilename)  }}" class="img-fluid img-thumbnail" style="width:100%"/>
                {% endif %}
            </div>    
        </div>  
    </div>
        

        <div class="text-center text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 500px;">
        </div>
    </div>
</div>

<!-- Page Header End -->
<div class="container-xxl pt-5">
    <div class="container">
        <div class="text-center text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 500px;">
            <h1 class="display-5 mb-5">Outros Produtos semelhantes</h1>
            <p class="fs-10 fw-medium text-primary">Desde o nosso início, temos nos dedicado a oferecer soluções excepcionais no campo de fornecimento de filtros de alta qualidade para manutenção de máquinas, geradores e navios.</p>
        </div>
        <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.1s">
                        
            {% set posts= products %}
            {% include 'blog/partials/card.html.twig' with {posts: products} %}
        </div>

        <div class="text-center text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 500px;">
            <p class="fs-5 fw-medium text-primary">Ver mais</p>
        </div>
    </div>
</div>
<!-- About Start -->
<!-- About End -->


<!-- Video Modal End -->



{% endblock %}
