{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Emaila</th>
                <th>Emailb</th>
                <th>Telefonea</th>
                <th>Telefoneb</th>
                <th>Website</th>
                <th>Facebook</th>
                <th>Linkedin</th>
                <th>Twitter</th>
                <th>Youtube</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.emaila }}</td>
                <td>{{ contact.emailb }}</td>
                <td>{{ contact.telefonea }}</td>
                <td>{{ contact.telefoneb }}</td>
                <td>{{ contact.website }}</td>
                <td>{{ contact.facebook }}</td>
                <td>{{ contact.linkedin }}</td>
                <td>{{ contact.twitter }}</td>
                <td>{{ contact.youtube }}</td>
                <td>{{ contact.address }}</td>
                <td>
                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}">show</a>
                    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_new') }}">Create new</a>
{% endblock %}
